<%= form_with(model: snippet) do |form| %>
  <% if snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snippet.errors.count, "error") %> prohibited this snippet from being saved:</h2>

      <ul>
        <% snippet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-8">
      <div class="field">
        <%= form.label :language %>
        <%= form.select :language, options_for_select: SnippetsHelper::LANGUAGE_MODES.keys %>
      </div>
      <div class="field">
        <%= form.label :content %>
        <div data-controller="editor">
          <div data-editor-target="toolbar">
            <button type="button" class="btn border border-gray-500 rounded-sm hover:bg-gray-50" data-action="editor#highlight">Highlight</button>
          </div>
          <%= form.text_area :content, data: { "editor-target": "text" } %>
        </div>
      </div>
    </div>
    <div class="col-span-4">
      <div class="field">
        <%= form.label :description %>
        <%= form.rich_text_area :description %>
      </div>
      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
  </div>

<% end %>
