<div class="grid grid-cols-2">
  <div>
    <%= link_to 'New Snippet', new_snippet_path %>
    <% @snippets.each do |snippet| %>
      <div class="border border-gray-0 mb-6 rounded-sm">
        <div class="h-56 font-mono">
          <%= snippet.language %>
          <%= snippet.content %>
        </div>
        <div class="h-10">
          <%= snippet.description %>
        </div>
        <div class="content-end">
          <%= link_to 'Show', snippet %>
          <%= link_to 'Edit', edit_snippet_path(snippet) %>
          <%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
  <div>

  </div>
</div>



