<!DOCTYPE html>
<html>
  <head>
    <title>Babel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@400;500&display=swap" rel="stylesheet">
  </head>

  <body class="h-screen">
    <div class="flex flex-col h-full">
      <div class="flex-none h-20"></div>
      <div class="flex-grow">
        <div class="container mx-auto h-full">
          <%= yield %>
        </div>
      </div>
      <div class="flex-none h-20"></div>
    </div>

  </body>
</html>
